
  body{background-color:#EAF6f6 ;}
  hr{
      border-style: dotted;
      border-color: #bab4af;
      border-width: 8px;
      border-bottom-style: none;
      width: 5%;
}
h1{color: #021f54;}
h3{color: #021f54;}
